  <link rel="stylesheet" type="text/css" href="/css/main.css?20111008"/>
  
  <!--[if lte IE 8]><script src="/js/respond.js"></script><![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href="/css/ie8.css?20111008"/><![endif]-->
  <!--[if IEMobile 7]><link rel="stylesheet" type="text/css" media="all" href="/css/ie7-mobile.css?20111008"/><![endif]-->
  <!--[if (lte IE 7)&!(IEMobile)]><link rel="stylesheet" type="text/css" media="all" href="/css/ie7.css?20111008"/><![endif]-->
  <!--[if (lte IE 6)&!(IEMobile)]><link rel="stylesheet" type="text/css" media="all" href="/css/ie6.css?20111008"/><![endif]-->  
  {exp:easy_gists:css media="all"}