# Setup
Options +FollowSymlinks
RewriteEngine on
RewriteBase /

# compress the code
#php_value auto_prepend_file /var/www/cms.easy-designs.net/prod/scripts/output_compression/prepend.php
#php_value auto_append_file /var/www/cms.easy-designs.net/prod/scripts/output_compression/append.php

# redirect old easy-reader.net URL to blog.easy-design.net
RewriteCond %{HTTP_HOST} ^dev\.easy-reader\.net$ [NC]
RewriteRule ^(.*)$ http://dev.blog.easy-designs.net/$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^easy-reader\.net$ [NC]
RewriteRule ^(.*)$ http://blog.easy-designs.net/$1 [R=301,L]

# remove www
RewriteCond %{HTTP_HOST} ^www\.easy-reader\.net$ [NC]
RewriteRule ^(.*)$ http://blog.easy-designs.net/$1 [R=301,L]

# remove the port
RewriteCond %{HTTP_HOST} 8080$ [NC]
RewriteRule ^(.*)$ http://blog.easy-designs.net/$1 [R=301,L]

# drop ridiculous query strings
RewriteCond %{QUERY_STRING} !=""
RewriteCond %{QUERY_STRING} !^ACT=\d+.*
RewriteCond %{REQUEST_URI} !^/__ee_admin/.*
RewriteCond %{QUERY_STRING} !^v=\d+
RewriteRule ^(.*)$ /$1? [R=301,L]

# old URL redirection
RewriteRule ^blog\/rss.*$ /rss/ [R=301,L]
RewriteRule ^feed\/?.*$ /rss/ [R=301,L]

# rewrite css, img & js
RewriteRule ^css\/(.*)\.css$ /styles/$1 [L]
RewriteRule ^img\/captchas\/(.*)$ /images/captchas/$1 [L]
RewriteRule ^img\/avatars\/(.*)$ /images/avatars/uploads/$1 [L]
RewriteRule ^img\/(.*)\/(.*)$ /assets/$1/$2 [L]
RewriteRule ^img\/(.*)$ /assets/general/$1 [L]
RewriteRule ^js\/(.*)\.js$ /javascripts/$1 [L]
RewriteRule ^docs\/(.*)$ /assets/docs/$1 [L]

# Pages
RewriteRule ^archives\/\d{4}\/\d{2}\/\d{2}\/(.*)$ /pages/single-post/$1 [L]
RewriteRule ^comments\/(.*)$ /pages/comments/$1 [L]

# RSS
RewriteRule ^rss\/by-(category|author|tag)\/(.*)\.rss$ /rss/$1/$2/ [L]

# rewrite out the index.php page
RewriteCond $1 !^(images|demos|assets|img|css|js|__ee_admin|scripts|tpl|themes|favicon\.ico|robots\.txt|index\.php) [NC]
RewriteRule ^(.*)$ index.php/$1 [L]
