/* line 6, ../source/sass/effects.scss */
a,
a:hover,
article,
#archive .hentry .body,
#archive .hentry .meta,
.frame b {
  -khtml-transition-property: color, background-color;
  -khtml-transition-duration: .4s;
  -moz-transition-property: color, background-color;
  -moz-transition-duration: .4s;
  -ms-transition-property: color, background-color;
  -ms-transition-duration: .4s;
  -o-transition-property: color, background-color;
  -o-transition-duration: .4s;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: .4s;
  transition-property: color, background-color;
  transition-duration: .4s;
}
