/* line 3, ../source/sass/ie6.scss */
#home .hfeed,
#home .hentry,
#home .hentry h3 a {
  zoom: 1;
}

/* line 7, ../source/sass/ie6.scss */
#home .hfeed {
  margin-bottom: 20px;
}

/* line 11, ../source/sass/ie6.scss */
body#home .hentry {
  margin: 0 10px 0 0;
  width: 32%;
}

/* line 16, ../source/sass/ie6.scss */
#single-entry .hfeed li {
  list-style-image: none;
}

/* line 20, ../source/sass/ie6.scss */
#page-footer {
  margin-top: 50px;
}
