/* line 1, ../source/sass/ie7.scss */
body > header, #main, #elsewhere {
  background: #e0fbfd;
}

/* line 5, ../source/sass/ie7.scss */
#search-form button {
  font-weight: 700;
  padding: 3px 7px;
}

/* line 10, ../source/sass/ie7.scss */
#main .creds {
  list-style: none;
  list-style-image: none;
}

/* line 15, ../source/sass/ie7.scss */
#main .sidebar h3, #main .sidebar h2 {
  clear: left;
}

/* line 19, ../source/sass/ie7.scss */
#archive .sidebar .vcard a img {
  z-index: 2;
}

/* line 23, ../source/sass/ie7.scss */
#single-entry #pagination {
  bottom: 260px;
}

/* line 27, ../source/sass/ie7.scss */
#home .hfeed {
  display: static;
  margin-bottom: -20px;
  margin-left: 0;
}

/* line 33, ../source/sass/ie7.scss */
#home .hentry {
  background: #fff;
  display: static;
  float: left;
  min-height: 450px;
  margin: 0 20px -20px 0;
  padding-bottom: 0;
  width: 220px;
}

/* line 43, ../source/sass/ie7.scss */
#home .hentry h3 a {
  padding-top: 92px;
}

/* line 47, ../source/sass/ie7.scss */
#archive .hentry {
  background: #fff;
  overflow: hidden;
}

/* line 52, ../source/sass/ie7.scss */
#archive .hentry article {
  clear: both;
  display: block;
}

/* line 57, ../source/sass/ie7.scss */
#archive .hentry .meta, #archive .hentry .body {
  float: left;
}

/* line 61, ../source/sass/ie7.scss */
#archive .hentry .meta {
  list-style-image: none;
}

/* line 65, ../source/sass/ie7.scss */
#comments .entry-content {
  background-color: transparent;
  margin-right: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 72, ../source/sass/ie7.scss */
#comments .meta {
  margin-top: 15px;
  z-index: 3;
}

/* line 77, ../source/sass/ie7.scss */
textarea {
  overflow: auto;
}
