/* ---------------------------------
 * Print Layout Styles
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */
/* line 7, ../source/sass/layout-print.scss */
body {
  font-size: 120%;
}

/* line 8, ../source/sass/layout-print.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

/* =Widows & Orphans */
/* line 11, ../source/sass/layout-print.scss */
p {
  widows: 4;
  orphans: 4;
}

/* =Page Breaks */
/* line 14, ../source/sass/layout-print.scss */
ul, ol, pre, div.gist, ol#comments li {
  page-break-inside: avoid;
}

/* line 15, ../source/sass/layout-print.scss */
ol#comments {
  page-break-inside: inherit;
}

/* =Hidden */
/* line 18, ../source/sass/layout-print.scss */
.sidebar, #search-form, #comment-form, #extras, #pagination {
  display: none;
}
