/* ---------------------------------
 * Core Stylesheet
 * Created by Easy! Designs, LLC
 * http://easy-designs.net
 * --------------------------------- */
/* =Reset defaults (from Eric Meyer) */
/* line 2, ../source/sass/_reset.scss */
html, body, div, header, footer, nav, article, section, figure, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

/* line 3, ../source/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 4, ../source/sass/_reset.scss */
article, aside, details, header, figure, figcaption, footer, nav, section, summary {
  display: block;
}

/* line 5, ../source/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 6, ../source/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 7, ../source/sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 8, ../source/sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 9, ../source/sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 10, ../source/sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 11, ../source/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @font-face */
@font-face {
  font-family: 'Easy-Designs';
  src: url("/fonts/Easy-Designs.eot");
  src: url("/fonts/Easy-Designs.eot?#iefix") format("embedded-opentype"), url("/fonts/Easy-Designs.woff") format("woff"), url("/fonts/Easy-Designs.ttf") format("truetype"), url("/fonts/Easy-Designs.svg#Easy-Designs") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =General */
/* line 19, ../source/sass/_typography.scss */
body {
  /* text-rendering: optimizeLegibility; WebOS can’t handle it */
  font-size: 120%;
}

/* =Text */
/* line 25, ../source/sass/_typography.scss */
h1, h2, h3, h4, h5, h6, legend {
  font-family: "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
  line-height: 1.25;
}

/* line 29, ../source/sass/_typography.scss */
h1 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.15;
}

/* line 34, ../source/sass/_typography.scss */
h2, fieldset legend {
  font-size: 1.5em;
  font-weight: 400;
}

/* line 38, ../source/sass/_typography.scss */
h2 {
  margin-bottom: 5px;
}

/* line 41, ../source/sass/_typography.scss */
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 0.875em;
}

/* line 45, ../source/sass/_typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  display: inline-block;
}

/* line 48, ../source/sass/_typography.scss */
blockquote {
  border-left: 10px solid;
  padding-left: 10px;
  margin: 1.5em 0;
}

/* line 53, ../source/sass/_typography.scss */
blockquote:first-child {
  margin-top: 0;
}

/* line 56, ../source/sass/_typography.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 59, ../source/sass/_typography.scss */
img {
  max-width: 100%;
}

/* line 63, ../source/sass/_typography.scss */
p, ul, ol, dl, table, pre,
figure, canvas, object, embed, video, audio {
  font: 0.8125em/1.5 Georgia, Times, "Times New Roman", serif;
  margin: 0 0 1.5em;
}

/* line 67, ../source/sass/_typography.scss */
figcaption {
  font: inherit;
}

/* line 70, ../source/sass/_typography.scss */
figure figcaption a, .figure figcaption a {
  display: inline;
}

/* line 73, ../source/sass/_typography.scss */
li p, li table, li pre, li ul {
  font-size: 1em;
}

/* line 76, ../source/sass/_typography.scss */
cite, em, dfn, .notes {
  font-family: "apolline-1", "apolline-2", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 100%;
}

/* line 83, ../source/sass/_typography.scss */
.wf-apolline1apolline2-i4-active cite,
.wf-apolline1apolline2-i4-active em,
.wf-apolline1apolline2-i4-active dfn {
  font-size: 120%;
  line-height: .8;
}

/* line 87, ../source/sass/_typography.scss */
.notes {
  font-size: 0.92307692em;
}

/* line 91, ../source/sass/_typography.scss */
cite.publisher,
cite.publication {
  white-space: nowrap;
}

/* line 94, ../source/sass/_typography.scss */
cite.publisher {
  font: inherit;
}

/* line 97, ../source/sass/_typography.scss */
pre, code {
  font: 0.92307692em/1.5 Monaco, Courier, "Courier New", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", monospace, serif;
}

/* line 100, ../source/sass/_typography.scss */
article .gist .gist-file .gist-meta {
  font-size: 0.625em;
}

/* line 103, ../source/sass/_typography.scss */
article .gist pre {
  font-size: 1em;
}

/* line 106, ../source/sass/_typography.scss */
sup, sub {
  font-size: .7em;
  line-height: 1;
}

/* line 110, ../source/sass/_typography.scss */
sup {
  vertical-align: super;
}

/* line 113, ../source/sass/_typography.scss */
sub {
  vertical-align: sub;
}

/* line 116, ../source/sass/_typography.scss */
strong {
  font-weight: bold;
}

/* line 119, ../source/sass/_typography.scss */
hr {
  border: 0;
  height: 20px;
  background: url(http://cdn3.easy-designs.net/css/hr.png) center center no-repeat;
  margin: 1.5em 0;
}

/* line 125, ../source/sass/_typography.scss */
object, embed, audio, video, iframe {
  display: block;
  margin: 1.5em 0;
}

/* line 129, ../source/sass/_typography.scss */
form {
  margin-top: 8px;
}

/* line 132, ../source/sass/_typography.scss */
form li {
  clear: both;
  margin: 0 0 0.5em;
}

/* line 136, ../source/sass/_typography.scss */
fieldset {
  margin-bottom: 16px;
}

/* line 139, ../source/sass/_typography.scss */
fieldset legend {
  padding: 5px 0 2px;
}

/* line 142, ../source/sass/_typography.scss */
input, select, textarea {
  border: 1px solid;
  border-radius: 3px;
  font: 1.07692308em/1.3 Georgia, Times, "Times New Roman", serif;
  width: 95%;
}

/* line 150, ../source/sass/_typography.scss */
input[type=file],
input[type=radio],
input[type=checkbox] {
  border: 0;
  border-radius: 0;
  cursor: pointer;
}

/* line 155, ../source/sass/_typography.scss */
label {
  font-weight: bold;
  display: block;
}

/* line 159, ../source/sass/_typography.scss */
select {
  cursor: pointer;
}

/* line 162, ../source/sass/_typography.scss */
button {
  border: 2px solid #117f40;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font: 500 1.38461538em/1 "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
  padding: 7px 7px 4px;
  vertical-align: middle;
}

/* line 171, ../source/sass/_typography.scss */
form li {
  list-style: none;
  margin-bottom: 10px;
}

/* line 176, ../source/sass/_typography.scss */
fieldset.radio,
fieldset.checkbox {
  margin-bottom: 10px;
}

/* line 180, ../source/sass/_typography.scss */
fieldset.radio legend,
fieldset.checkbox legend {
  font: inherit;
  font-weight: bold;
}

/* line 185, ../source/sass/_typography.scss */
.radio label,
.checkbox label {
  font-weight: normal;
  display: inline;
}

/* line 190, ../source/sass/_typography.scss */
.radio ul,
.checkbox ul {
  margin: 0;
  padding: 0;
}

/* line 195, ../source/sass/_typography.scss */
.radio li,
.checkbox li {
  display: inline;
  margin-right: 10px;
}

/* line 199, ../source/sass/_typography.scss */
.textarea label {
  margin-bottom: 2px;
}

/* line 203, ../source/sass/_typography.scss */
.radio input,
.checkbox input {
  width: auto;
}

/* =Generic */
/* line 209, ../source/sass/_typography.scss */
.more {
  margin: -1.5em 0 0;
}

/* line 212, ../source/sass/_typography.scss */
time, .date, .phone {
  white-space: nowrap;
}

/* line 215, ../source/sass/_typography.scss */
a[rel=feed]:after {
  content: url(http://cdn3.easy-designs.net/general/rss-icon.png);
  position: absolute;
  padding-left: 5px;
}

/* =Microformats */
/* line 227, ../source/sass/_typography.scss */
.adr,
.post-office-box,
.street-address,
.extended-address,
.country {
  display: block;
}

/* =Header */
/* line 233, ../source/sass/_typography.scss */
#tagline {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0 0 20px;
  text-align: center;
}

/* line 239, ../source/sass/_typography.scss */
#tagline em {
  font-family: "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
}

/* =Main */
/* line 246, ../source/sass/_typography.scss */
.focal ul,
.focal ol {
  margin: 0 0 1.5em;
  padding-left: 1em;
}

/* line 250, ../source/sass/_typography.scss */
.focal .also li {
  margin: 0;
}

/* line 253, ../source/sass/_typography.scss */
.focal ol {
  list-style-type: decimal;
  padding-left: .75em;
  margin-left: .5em;
}

/* line 258, ../source/sass/_typography.scss */
.focal ul {
  list-style: url(http://cdn1.easy-designs.net/css/bullet.png);
}

/* line 261, ../source/sass/_typography.scss */
.focal .meta {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

/* =Notices */
/* line 270, ../source/sass/_typography.scss */
.notice {
  border: 1px solid;
  margin-bottom: 1.5em;
  padding: 10px 14px;
}

/* =Sidebars */
/* line 277, ../source/sass/_typography.scss */
.sidebar h2 {
  font: 400 1.25em/1.2 "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
}

/* line 283, ../source/sass/_typography.scss */
.sidebar p,
.sidebar ul,
.sidebar ol,
.sidebar dl {
  font: 0.75em/1.5 Georgia, Times, "Times New Roman", serif;
}

/* line 286, ../source/sass/_typography.scss */
#bookmark {
  margin-bottom: 1em;
}

/* line 289, ../source/sass/_typography.scss */
#bookmark p, #bookmark iframe {
  margin: 0 0 0.5em;
}

/* =Inline lists */
/* line 294, ../source/sass/_typography.scss */
ul.inline {
  margin-left: 0;
  padding-left: 0;
}

/* line 298, ../source/sass/_typography.scss */
ul.inline li {
  display: inline;
  margin: 0;
}

/* line 302, ../source/sass/_typography.scss */
.inline li:after {
  content: ", ";
}

/* line 305, ../source/sass/_typography.scss */
.inline li:last-child:before {
  content: 'and ';
}

/* line 309, ../source/sass/_typography.scss */
.inline li:only-child:before,
.inline li:last-child:after {
  content: '';
}

/* =Blog */
/* line 315, ../source/sass/_typography.scss */
#single-entry h1 {
  font-weight: 400;
  margin-bottom: 10px;
}

/* =Comments */
/* line 322, ../source/sass/_typography.scss */
#comment-loader {
  font: 400 1em/1 "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
  text-align: center;
  text-decoration: none;
}

/* line 327, ../source/sass/_typography.scss */
#comments .entry-content > :last-child {
  margin-bottom: 0;
}

/* line 330, ../source/sass/_typography.scss */
#comments .hentry .meta {
  list-style: none;
}

/* line 333, ../source/sass/_typography.scss */
#comments .meta li {
  line-height: 1.3;
}

/* line 336, ../source/sass/_typography.scss */
#comments .meta li:last-child {
  font-size: 0.84615385em;
}

/* =Comment Form */
/* line 342, ../source/sass/_typography.scss */
#comment-form label {
  font-size: 1.07692308em;
}

/* =Archives */
/* line 348, ../source/sass/_typography.scss */
#archive .hentry h2 {
  font-size: 1.38461538em;
  font-weight: 400;
  padding-right: 20px;
}

/* line 353, ../source/sass/_typography.scss */
#archive .hentry h2 a {
  text-decoration: none;
}

/* line 356, ../source/sass/_typography.scss */
#archive .hentry .meta {
  font-size: 0.84615385em;
  list-style: none;
}

/* =Footer Content */
/* line 363, ../source/sass/_typography.scss */
#events .when {
  margin: 0;
}

/* line 366, ../source/sass/_typography.scss */
#events .summary {
  font: 1.0769em/1.2 Georgia, Times, "Times New Roman", serif;
  margin: 0 0 7px;
}

/* line 370, ../source/sass/_typography.scss */
.promo h2 {
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 5px;
}

/* line 375, ../source/sass/_typography.scss */
#page-footer p {
  font-size: 1em;
}
/* line 377, ../source/sass/_typography.scss */
#page-footer p span {
  font-size: 0.6875em;
}

/* line 382, ../source/sass/_typography.scss */
#about-us h2,
#more h2 {
  font-size: 1.125em;
  font-weight: normal;
}

/* line 386, ../source/sass/_typography.scss */
#more ul {
  font-size: 14px;
  list-style: none;
}

/* line 390, ../source/sass/_typography.scss */
#more li {
  line-height: 22px;
  margin-bottom: 5px;
  padding-left: 25px;
}

/* line 395, ../source/sass/_typography.scss */
#elsewhere section h3 {
  margin-bottom: 5px;
}

/* =Home */
/* line 401, ../source/sass/_typography.scss */
#home .hfeed {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 406, ../source/sass/_typography.scss */
#home .hentry h3 {
  font-weight: 400;
  font-family: "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
}

/* line 410, ../source/sass/_typography.scss */
#home .hentry h3 a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 415, ../source/sass/_typography.scss */
.front-n-center em {
  font-style: normal;
  font-weight: 700;
}

/* line 419, ../source/sass/_typography.scss */
#home .hentry .meta li {
  display: inline;
}

/* line 423, ../source/sass/_typography.scss */
#home .hentry h2,
#home .hentry h3 {
  font-size: 1.385em;
}

/* line 426, ../source/sass/_typography.scss */
#home .hentry h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  margin: 16px 0 10px;
}

/* line 431, ../source/sass/_typography.scss */
#home #teasers .hentry h3 {
  font-size: 1.1em;
  line-height: 1.3;
}

/* line 435, ../source/sass/_typography.scss */
.wf-ratio1ratio2-n4-active #home #teasers .hentry h3 {
  font-size: 1em;
  line-height: 1.4;
}

/* =Search */
/* line 443, ../source/sass/_typography.scss */
#search-form input,
#search-form label {
  font-size: 0.92307692em;
  padding: 3px 7px 4px;
}

/* line 447, ../source/sass/_typography.scss */
#search-form label {
  font-weight: normal;
}

/* line 450, ../source/sass/_typography.scss */
#search-form button {
  font-size: 0.92307692em;
  padding: 4px 3px 2px;
}

/* =Pagination */
/* line 457, ../source/sass/_typography.scss */
#pagination li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 462, ../source/sass/_typography.scss */
#pagination a {
  text-decoration: none;
}

/* line 465, ../source/sass/_typography.scss */
#pagination a em {
  font-family: "ratio-1", "ratio-2", "Myriad Pro", "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-indent: 0;
}

/* line 474, ../source/sass/_typography.scss */
#easy-network a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 480, ../source/sass/_typography.scss */
#easy-network a:focus,
#easy-network a:hover {
  text-decoration: underline;
}

/* line 485, ../source/sass/_typography.scss */
.gist table {
  margin: 0;
}

@media screen and (min-width: 53.75em) {
  /* line 492, ../source/sass/_typography.scss */
  h1 {
    font-size: 2.25em;
  }
}
@media screen {
  /* =Global Layout */
  /* line 4, ../source/sass/_layout-mobile.scss */
  body {
    position: relative;
  }

  /* line 7, ../source/sass/_layout-mobile.scss */
  #page-header, #content, #main, #extras, aside.promo, #page-footer {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  /* =Figures */
  /* line 15, ../source/sass/_layout-mobile.scss */
  figure,
  .figure {
    position: relative;
    z-index: 2;
  }

  /* line 20, ../source/sass/_layout-mobile.scss */
  figure a,
  .figure a {
    display: block;
  }

  /* line 24, ../source/sass/_layout-mobile.scss */
  figure img,
  .figure img {
    display: block;
    position: relative;
    z-index: 1;
  }

  /* line 30, ../source/sass/_layout-mobile.scss */
  .frame,
  .frame b {
    background: url(http://cdn3.easy-designs.net/css/project-frame.png) 0 0 no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  /* line 40, ../source/sass/_layout-mobile.scss */
  .frame b {
    background-position: 0 -157px;
    height: 100%;
  }

  /* line 44, ../source/sass/_layout-mobile.scss */
  a:hover .frame b {
    opacity: 0;
  }

  /* line 47, ../source/sass/_layout-mobile.scss */
  .figure.featured {
    padding-top: 160px;
    width: 220px;
  }

  /* line 52, ../source/sass/_layout-mobile.scss */
  .figure.featured img,
  .figure.featured .frame {
    height: 157px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  /* line 58, ../source/sass/_layout-mobile.scss */
  .align-left {
    float: left;
    margin: 0 5px 0 -7px;
  }

  /* line 62, ../source/sass/_layout-mobile.scss */
  .align-right {
    float: right;
    margin: 0 -7px 0 5px;
  }

  /* =Header */
  /* line 69, ../source/sass/_layout-mobile.scss */
  #page-header {
    border-top: 14px solid;
    border-bottom: 7px solid;
    margin: 0;
  }

  /* line 74, ../source/sass/_layout-mobile.scss */
  #logo {
    left: 0;
    height: 80px;
    margin: -14px 0 0;
    padding: 0;
    position: relative;
  }

  /* line 81, ../source/sass/_layout-mobile.scss */
  #logo img {
    position: absolute;
    left: 50%;
    margin-left: -126px;
    top: 25px;
    z-index: 1;
  }

  /* line 88, ../source/sass/_layout-mobile.scss */
  #tagline {
    font-size: 1.3em;
    padding: 14px 10px 0;
  }

  /* =Main Content */
  /* line 95, ../source/sass/_layout-mobile.scss */
  #single-entry #main {
    margin: 0 0 4em;
  }

  /* line 98, ../source/sass/_layout-mobile.scss */
  #single-entry article.focal {
    padding: 3px 10px;
  }

  /* line 101, ../source/sass/_layout-mobile.scss */
  .focal header {
    margin: 0;
    padding: 1em 0;
  }

  /* line 105, ../source/sass/_layout-mobile.scss */
  article.focal figure {
    background: #fff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  }

  /* line 122, ../source/sass/_layout-mobile.scss */
  article.focal figure img,
  article.focal figure video,
  article.focal figure audio,
  article.focal figure object,
  article.focal figure embed,
  article.focal figure canvas {
    background: #fff;
    border: 10px solid;
    margin-left: -10px;
    width: 100%;
    height: auto;
  }

  /* line 129, ../source/sass/_layout-mobile.scss */
  article.focal figure iframe {
    background: #fff;
    border: 10px solid;
    margin-left: -10px;
    max-width: 100%;
  }

  /* line 135, ../source/sass/_layout-mobile.scss */
  article.focal figure figcaption {
    background: #fff;
    padding: 0px 10px 10px;
    margin: 0 -10px;
    text-align: center;
  }

  /* line 141, ../source/sass/_layout-mobile.scss */
  article.focal figure:after {
    background: transparent;
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    content: '';
    -moz-transform: skew(15deg) rotate(6deg);
    -ms-transform: skew(15deg) rotate(6deg);
    -o-transform: skew(15deg) rotate(6deg);
    -webkit-transform: skew(15deg) rotate(6deg);
    transform: skew(15deg) rotate(6deg);
    width: 70%;
    height: 55%;
    position: absolute;
    right: 30px;
    bottom: 20px;
    z-index: -1;
  }

  /* line 161, ../source/sass/_layout-mobile.scss */
  article.focal figure:before {
    background: transparent;
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    content: '';
    width: 70%;
    height: 55%;
    -moz-transform: skew(-15deg) rotate(-6deg);
    -ms-transform: skew(-15deg) rotate(-6deg);
    -o-transform: skew(-15deg) rotate(-6deg);
    -webkit-transform: skew(-15deg) rotate(-6deg);
    transform: skew(-15deg) rotate(-6deg);
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: -2;
  }

  /* line 181, ../source/sass/_layout-mobile.scss */
  article.focal .gist-meta {
    display: none;
  }

  /* =Sharing Options */
  /* line 187, ../source/sass/_layout-mobile.scss */
  #bookmark {
    overflow: hidden;
  }

  /* line 190, ../source/sass/_layout-mobile.scss */
  #bookmark p {
    float: left;
    margin-right: 10px;
  }

  /* =Comments */
  /* line 197, ../source/sass/_layout-mobile.scss */
  #comments {
    margin: 0;
    padding: 15px 10px 20px;
  }

  /* line 201, ../source/sass/_layout-mobile.scss */
  #comments p:last-child {
    margin-bottom: 0;
  }

  /* line 204, ../source/sass/_layout-mobile.scss */
  #comment-loader {
    display: block;
    margin: -15px -10px -20px;
    padding: 15px 10px;
  }

  /* line 209, ../source/sass/_layout-mobile.scss */
  #comments .hfeed {
    list-style: none;
    margin: 20px 0 -10px;
    padding: 0;
    overflow: hidden;
  }

  /* line 215, ../source/sass/_layout-mobile.scss */
  #comments .entry-content {
    background-color: #f4fdfe;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 0;
    padding: 5%;
    position: relative;
    z-index: 2;
  }

  /* line 226, ../source/sass/_layout-mobile.scss */
  #comments .meta {
    margin: 0;
    padding: 30px 0 0 150px;
    position: relative;
    top: -15px;
    width: 45%;
    z-index: 1;
  }

  /* line 234, ../source/sass/_layout-mobile.scss */
  #comments .hentry .meta .vcard {
    margin-top: -4px;
  }

  /* line 237, ../source/sass/_layout-mobile.scss */
  #comments .meta img {
    float: left;
    margin-right: 5px;
  }

  /*= Comment Form */
  /* line 244, ../source/sass/_layout-mobile.scss */
  #main form ol {
    margin: 0;
    padding: 0;
  }

  /* =Archives */
  /* line 251, ../source/sass/_layout-mobile.scss */
  #archive #main {
    padding-bottom: 3.2em;
  }

  /* line 254, ../source/sass/_layout-mobile.scss */
  #archive h1 {
    padding: 0 10px;
  }

  /* line 257, ../source/sass/_layout-mobile.scss */
  #archive .focal {
    position: relative;
  }

  /* line 260, ../source/sass/_layout-mobile.scss */
  #archive .hfeed {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* line 265, ../source/sass/_layout-mobile.scss */
  #archive .hentry {
    margin: 0 0 15px 0;
  }

  /* line 268, ../source/sass/_layout-mobile.scss */
  #archive .hentry .meta {
    display: none;
  }

  /* line 271, ../source/sass/_layout-mobile.scss */
  #archive .hentry .body {
    padding: 10px 10px 15px;
  }

  /* line 274, ../source/sass/_layout-mobile.scss */
  #archive.search .focal > p {
    padding: 0 10px;
  }

  /* =Sidebars */
  /* line 280, ../source/sass/_layout-mobile.scss */
  .sidebar .inner {
    display: none;
  }

  /* =Home */
  /* line 286, ../source/sass/_layout-mobile.scss */
  #home .hfeed {
    display: block;
    margin: 0;
    padding: 21px 0 1px;
  }

  /* line 291, ../source/sass/_layout-mobile.scss */
  #home .hentry {
    margin: 0 0 3em;
    padding: 0 10px 10px;
  }

  /* line 295, ../source/sass/_layout-mobile.scss */
  #potpourri.hentry {
    margin-bottom: 1.5em;
  }

  /* line 298, ../source/sass/_layout-mobile.scss */
  #home .hentry h3 {
    background: transparent url(http://cdn3.easy-designs.net/css/banner-bg.png) no-repeat 50% 100%;
    width: 226px;
    height: 31px;
    margin: 0 auto -28px;
    padding-top: 5px;
    position: relative;
    top: -21px;
    text-align: center;
  }

  /* line 309, ../source/sass/_layout-mobile.scss */
  .wf-active #home .hentry h3,
  .wf-inactive #home .hentry h3 {
    height: 34px;
    padding-top: 2px;
  }

  /* line 313, ../source/sass/_layout-mobile.scss */
  #home .hentry h3:hover {
    background-position: 50% -90px;
  }

  /* line 316, ../source/sass/_layout-mobile.scss */
  #home .hentry h3 a {
    display: block;
  }

  /* line 319, ../source/sass/_layout-mobile.scss */
  #home .hentry p {
    margin: 0;
  }

  /* =Footer Content */
  /* line 326, ../source/sass/_layout-mobile.scss */
  #about-us {
    padding: 20px 0.625em 0;
  }

  /* line 329, ../source/sass/_layout-mobile.scss */
  #more {
    padding: 0 10px;
  }

  /* line 334, ../source/sass/_layout-mobile.scss */
  #software,
  #retreats,
  #events {
    float: left;
    padding: 22px 1.25em 2px 1.875em;
    width: 14.375em;
  }

  /* line 339, ../source/sass/_layout-mobile.scss */
  #page-footer {
    clear: both;
  }

  /* line 342, ../source/sass/_layout-mobile.scss */
  #page-footer p {
    margin: 0 auto;
    padding: 10px;
  }

  /* =Pagination */
  /* line 349, ../source/sass/_layout-mobile.scss */
  ul#pagination {
    height: 32px;
    margin: 1em 0 0;
    padding: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: -3.8em;
    z-index: 10;
  }

  /* line 359, ../source/sass/_layout-mobile.scss */
  ul#pagination li {
    text-indent: -999em;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
  }

  /* line 367, ../source/sass/_layout-mobile.scss */
  #pagination .prev {
    left: 0;
  }

  /* line 370, ../source/sass/_layout-mobile.scss */
  #pagination .next {
    right: 0;
  }

  /* line 374, ../source/sass/_layout-mobile.scss */
  #main #pagination .prev:hover,
  #main #pagination .next:hover {
    z-index: 1;
  }

  /* line 377, ../source/sass/_layout-mobile.scss */
  #pagination li a {
    display: block;
    text-indent: -999em;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* line 385, ../source/sass/_layout-mobile.scss */
  #pagination .prev a {
    background: url(http://cdn1.easy-designs.net/css/icon-prev.png) 0 -32px no-repeat;
    right: 0;
  }

  /* line 389, ../source/sass/_layout-mobile.scss */
  #pagination .prev {
    background: 1px 0 no-repeat;
  }

  /* line 392, ../source/sass/_layout-mobile.scss */
  #pagination .prev:hover {
    background-image: url(http://cdn1.easy-designs.net/css/icon-prev.png);
  }

  /* line 395, ../source/sass/_layout-mobile.scss */
  #pagination .next a {
    background: url(http://cdn1.easy-designs.net/css/icon-next.png) 100% -32px no-repeat;
    right: 0;
  }

  /* line 399, ../source/sass/_layout-mobile.scss */
  #pagination .next {
    background: 100% 0 no-repeat;
  }

  /* line 402, ../source/sass/_layout-mobile.scss */
  #pagination .next:hover {
    background-image: url(http://cdn1.easy-designs.net/css/icon-next.png);
  }

  /* line 406, ../source/sass/_layout-mobile.scss */
  #pagination .prev a:hover,
  #pagination .next a:hover {
    background-image: none;
  }

  /* line 410, ../source/sass/_layout-mobile.scss */
  #pagination .prev a em,
  #pagination .next a em {
    opacity: 0;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    position: absolute;
  }

  /* line 417, ../source/sass/_layout-mobile.scss */
  #pagination .prev a:hover em {
    opacity: 1;
    left: 20%;
    right: -80%;
  }

  /* line 422, ../source/sass/_layout-mobile.scss */
  #pagination .next a:hover em {
    opacity: 1;
    right: 20%;
    left: -80%;
  }

  /* =Search */
  /* line 430, ../source/sass/_layout-mobile.scss */
  #search-form {
    margin: 0;
  }

  /* line 433, ../source/sass/_layout-mobile.scss */
  #search-form p {
    margin: 0;
    padding: 20px 0 10px 10px;
    overflow: hidden;
  }

  /* line 439, ../source/sass/_layout-mobile.scss */
  #search-form input,
  #search-form button {
    float: left;
    margin: 0;
  }

  /* line 443, ../source/sass/_layout-mobile.scss */
  #search-form input {
    -khtml-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-radius: 3px 0 0 3px;
    border-width: 1px 0 1px 1px;
    font-size: 12px;
    height: 15px;
    line-height: 12px;
    padding: 4px 5px;
    width: 191px;
  }

  /* line 457, ../source/sass/_layout-mobile.scss */
  #search-form button {
    font-size: 12px;
    -khtml-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-radius: 0 5px 5px 0;
    border-width: 2px;
    height: 25px;
    padding: 5px 7px;
  }

  /* line 469, ../source/sass/_layout-mobile.scss */
  #search-form label {
    line-height: 2;
    position: absolute;
    left: -999em;
    z-index: 1;
  }

  /* =Social Links */
  /* line 478, ../source/sass/_layout-mobile.scss */
  #social-links {
    overflow: hidden;
    margin: 0;
  }

  /* line 482, ../source/sass/_layout-mobile.scss */
  #social-links li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
  }

  /* line 487, ../source/sass/_layout-mobile.scss */
  #social-links li a {
    background: top left no-repeat;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    text-indent: -999em;
    width: 30px;
    height: 30px;
  }

  /* =Hide non-essentials */
  /* line 502, ../source/sass/_layout-mobile.scss */
  #elsewhere,
  #easy-network {
    display: none;
  }
}
@media screen and (min-width: 30.0625em) {
  /* =Post */
  /* line 6, ../source/sass/_layout-tablet.scss */
  #single-entry article.focal {
    padding: 3px 1.25em;
  }

  /* =Comments */
  /* line 11, ../source/sass/_layout-tablet.scss */
  #comments {
    padding: 0 1.25em 20px;
  }

  /* =Home */
  /* line 16, ../source/sass/_layout-tablet.scss */
  #home .hentry {
    padding: 0px 1.25em 20px;
  }

  /* line 19, ../source/sass/_layout-tablet.scss */
  #teasers .hentry h3 {
    font-size: 1.125em;
    /* 18px */
  }

  /* =Archives */
  /* line 24, ../source/sass/_layout-tablet.scss */
  #archive h1 {
    padding: 0 1.25em;
  }

  /* line 27, ../source/sass/_layout-tablet.scss */
  #archive.search .focal > p {
    padding: 0 1.25em;
  }

  /* line 30, ../source/sass/_layout-tablet.scss */
  #archive .hentry article {
    display: table;
    width: 100%;
  }

  /* line 35, ../source/sass/_layout-tablet.scss */
  #archive .hentry .meta,
  #archive .hentry .body {
    display: table-cell;
    vertical-align: top;
  }

  /* line 39, ../source/sass/_layout-tablet.scss */
  #archive .hentry .meta {
    -moz-border-radius: 0 30px 30px 0;
    -o-border-radius: 0 30px 30px 0;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-radius: 0 30px 30px 0;
    list-style: none;
    margin: 0;
    padding: 20px 1.25em;
    width: 8.46153846em;
    position: relative;
  }

  /* line 51, ../source/sass/_layout-tablet.scss */
  #archive .hentry .vcard {
    margin-bottom: 5px;
  }

  /* line 54, ../source/sass/_layout-tablet.scss */
  #archive .hentry .vcard a {
    display: block;
    position: relative;
    padding-top: 50px;
  }

  /* line 59, ../source/sass/_layout-tablet.scss */
  #archive .hentry .vcard img {
    display: block;
    margin-bottom: 5px;
  }

  /* line 64, ../source/sass/_layout-tablet.scss */
  #archive .hentry .vcard img,
  #archive .hentry .vcard .frame {
    width: 65px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* line 71, ../source/sass/_layout-tablet.scss */
  #archive .hentry .vcard .frame {
    background-image: url(http://cdn3.easy-designs.net/css/frame-author-wide.png);
  }

  /* line 74, ../source/sass/_layout-tablet.scss */
  #archive .hentry .body {
    -moz-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    border-radius: 30px 0 0 30px;
    padding: 20px 2.69230769em 20px 1.92307692em;
  }

  /* line 83, ../source/sass/_layout-tablet.scss */
  #archive .hentry:first-child .meta,
  #archive .hentry:first-child .body {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -o-border-top-left-radius: 0;
    -o-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* line 94, ../source/sass/_layout-tablet.scss */
  #archive .hentry.last .meta,
  #archive .hentry.last .body {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -o-border-bottom-left-radius: 0;
    -o-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* =Pagination */
  /* line 107, ../source/sass/_layout-tablet.scss */
  ul#pagination {
    left: 20px;
    right: 20px;
  }

  /* =Footer Content */
  /* line 114, ../source/sass/_layout-tablet.scss */
  #about-us {
    padding: 20px 1.25em 0;
  }

  /* line 117, ../source/sass/_layout-tablet.scss */
  #more {
    padding: 0 1.25em;
  }

  /* line 120, ../source/sass/_layout-tablet.scss */
  #page-footer p {
    padding: 20px 1.25em;
  }
}
@media screen and (min-width: 35.625em) {
  /* line 129, ../source/sass/_layout-tablet.scss */
  #logo img {
    margin-left: 0;
    left: 20px;
    top: 25px;
  }

  /* =Search */
  /* line 136, ../source/sass/_layout-tablet.scss */
  #search-form {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 20px;
  }
}
@media screen and (min-width: 40.625em) {
  /* line 147, ../source/sass/_layout-tablet.scss */
  body {
    font-size: 100%;
  }

  /* line 150, ../source/sass/_layout-tablet.scss */
  p, ul, ol, dl, table, pre, figure, canvas, object, embed, video, audio {
    font-size: 1em;
  }

  /* =Main */
  /* line 154, ../source/sass/_layout-tablet.scss */
  #single-entry #main {
    margin: 0;
    padding: 0 15.625em 70px 0;
    min-height: 700px;
    width: auto;
    position: relative;
  }

  /* line 161, ../source/sass/_layout-tablet.scss */
  #single-entry .focal {
    position: relative;
    z-index: 3;
  }

  /* =Sidebar */
  /* line 168, ../source/sass/_layout-tablet.scss */
  #single-entry .sidebar {
    width: 15em;
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 0;
    z-index: 2;
  }

  /* line 176, ../source/sass/_layout-tablet.scss */
  #single-entry .sidebar .inner {
    display: block;
    position: absolute;
    padding: 18px 0 16px 1.125em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  /* line 185, ../source/sass/_layout-tablet.scss */
  .sidebar .inner > * {
    width: 11.5em;
  }

  /* line 188, ../source/sass/_layout-tablet.scss */
  .sidebar figure {
    margin-bottom: .75em;
  }

  /* line 191, ../source/sass/_layout-tablet.scss */
  .sidebar ul.author {
    margin: -1em 0 1.5em;
  }

  /* line 194, ../source/sass/_layout-tablet.scss */
  .sidebar li {
    margin-bottom: .5em;
  }

  /* line 200, ../source/sass/_layout-tablet.scss */
  .sidebar .vcard img,
  .sidebar .vcard .frame,
  .sidebar .vcard img,
  .sidebar .vcard .frame {
    height: 122px;
    width: 122px;
  }

  /* line 204, ../source/sass/_layout-tablet.scss */
  .sidebar .vcard .frame {
    background: url(http://cdn3.easy-designs.net/css/frame-author.png);
  }

  /* line 207, ../source/sass/_layout-tablet.scss */
  .easy-writers {
    overflow: hidden;
  }

  /* line 210, ../source/sass/_layout-tablet.scss */
  .easy-writers .vcard {
    float: left;
  }

  /* line 213, ../source/sass/_layout-tablet.scss */
  .easy-writers .vcard a {
    display: block;
    margin: 0 0.5em 8px 0;
    height: 48px;
    width: 48px;
    position: relative;
    overflow: hidden;
  }

  /* line 221, ../source/sass/_layout-tablet.scss */
  .easy-writers .vcard img {
    width: 48px;
    height: 48px;
  }

  /* line 226, ../source/sass/_layout-tablet.scss */
  .easy-writers .vcard img,
  .easy-writers .vcard span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  /* line 234, ../source/sass/_layout-tablet.scss */
  .easy-writers .vcard .fn {
    z-index: 0;
  }

  /* = Pagination */
  /* line 240, ../source/sass/_layout-tablet.scss */
  #single-entry #pagination {
    bottom: 20px;
    right: 16.25em;
    z-index: 10;
  }
}
@media screen and (min-width: 43.75em) {
  /* line 252, ../source/sass/_layout-tablet.scss */
  #teasers .hentry h3 {
    font-size: 1.385em;
    /* 18px */
  }

  /* =Main */
  /* line 257, ../source/sass/_layout-tablet.scss */
  #main {
    margin: 0;
    padding: 0 15em 70px 0;
    min-height: 900px;
    width: auto;
    position: relative;
  }

  /* line 264, ../source/sass/_layout-tablet.scss */
  .focal {
    position: relative;
    z-index: 3;
  }

  /* =Sidebar */
  /* line 271, ../source/sass/_layout-tablet.scss */
  .sidebar {
    width: 15em;
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 20px;
    z-index: 2;
  }

  /* line 279, ../source/sass/_layout-tablet.scss */
  .sidebar .inner {
    display: block;
    position: absolute;
    padding: 18px 0 16px 1.125em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  /* =Home */
  /* line 291, ../source/sass/_layout-tablet.scss */
  #tagline {
    font-size: 2.25em;
  }

  /* line 294, ../source/sass/_layout-tablet.scss */
  #home #main {
    padding: 20px 1.25em 0;
    min-height: 0;
  }

  /* line 298, ../source/sass/_layout-tablet.scss */
  #home .hfeed {
    border-spacing: 10px 0;
    display: table;
    margin: 0 -10px;
  }

  /* line 303, ../source/sass/_layout-tablet.scss */
  #home .hentry {
    -moz-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    border-radius: 50px 50px 0 0;
    display: table-cell;
    vertical-align: top;
    padding: 0;
    width: 34%;
  }

  /* line 314, ../source/sass/_layout-tablet.scss */
  #home .hentry article {
    position: relative;
    padding: 136px 1.25em 20px;
  }

  /* line 318, ../source/sass/_layout-tablet.scss */
  #home #teasers .hentry h3 {
    position: absolute;
    top: 10px;
    left: 50%;
    height: 126px;
    margin: 0 0 0 -113px;
    padding: 0;
  }

  /* line 326, ../source/sass/_layout-tablet.scss */
  #home #teasers .hentry h3:hover {
    background-position: 0 0;
  }

  /* line 329, ../source/sass/_layout-tablet.scss */
  #home .hentry h3 a {
    background: center top no-repeat;
    padding-top: 108px;
    position: relative;
    top: -13px;
  }

  /* line 336, ../source/sass/_layout-tablet.scss */
  .wf-active #home .hentry h3 a,
  .wf-inactive #home .hentry h3 a {
    padding-top: 105px;
  }

  /* line 339, ../source/sass/_layout-tablet.scss */
  #programming.hentry h3 a {
    background-image: url(http://cdn3.easy-designs.net/general/programming-icon.png);
  }

  /* line 342, ../source/sass/_layout-tablet.scss */
  #process.hentry h3 a {
    background-image: url(http://cdn3.easy-designs.net/general/process-icon.png);
  }

  /* line 345, ../source/sass/_layout-tablet.scss */
  #potpourri.hentry h3 a {
    background-image: url(http://cdn3.easy-designs.net/general/potpourri-icon.png);
    padding-top: 105px;
    top: -10px;
  }

  /* line 351, ../source/sass/_layout-tablet.scss */
  .wf-active #potpourri.hentry h3 a,
  .wf-inactive #potpourri.hentry h3 a {
    padding-top: 102px;
  }
}
@media screen and (min-width: 860px) {
  /* =Header */
  /* line 4, ../source/sass/_layout-screen.scss */
  #page-header {
    border-top-width: 30px;
  }

  /* line 7, ../source/sass/_layout-screen.scss */
  #logo {
    font-size: 1em;
    margin: -30px 0 0 -26.875em;
    padding-top: 40px;
    left: 50%;
    width: 53.75em;
  }

  /* line 14, ../source/sass/_layout-screen.scss */
  #logo img {
    margin-left: 0;
    left: 1.875em;
    top: 52px;
  }

  /* =Search */
  /* line 22, ../source/sass/_layout-screen.scss */
  #search-form {
    top: 42px;
    right: 50%;
    margin: 0 -25em 0 0;
  }

  /* line 27, ../source/sass/_layout-screen.scss */
  #search-form input, #search-form label {
    font-size: 0.92307692em;
  }

  /* =Body */
  /* line 32, ../source/sass/_layout-screen.scss */
  #main, #single-entry #main {
    margin: 0 auto;
    padding: 20px 15.625em 70px 1.25em;
    width: 36.875em;
    position: static;
  }

  /* line 38, ../source/sass/_layout-screen.scss */
  #single-entry article.focal {
    padding: 3px 0.625em;
  }

  /* line 41, ../source/sass/_layout-screen.scss */
  .focal header {
    margin: 0 0 1em;
    padding: 0;
  }

  /* line 45, ../source/sass/_layout-screen.scss */
  article.focal figure {
    width: 32.5em;
  }

  /* line 55, ../source/sass/_layout-screen.scss */
  article.focal figure img,
  article.focal figure video,
  article.focal figure audio,
  article.focal figure object,
  article.focal figure embed,
  article.focal figure canvas,
  article.focal figure iframe,
  article.focal figure figcaption {
    width: 31.25em;
    margin-left: 0;
  }

  /* line 59, ../source/sass/_layout-screen.scss */
  article.focal .gist-meta {
    display: block;
  }

  /* =Comments */
  /* line 65, ../source/sass/_layout-screen.scss */
  #comments {
    left: 6px;
    margin: 0 0 0 -625em;
    padding: 15px 0 10px 625em;
  }

  /* line 70, ../source/sass/_layout-screen.scss */
  #comments .hfeed {
    padding: 0 1.875em 0 0;
  }

  /* line 73, ../source/sass/_layout-screen.scss */
  #comments .hentry {
    margin-bottom: 20px;
  }

  /* =Comment Form */
  /* line 95, ../source/sass/_layout-screen.scss */
  #comment-form label {
    float: left;
    text-align: right;
    line-height: 2.8;
    width: 6.25em;
    margin: 0 0.625em 0 0;
  }

  /* line 103, ../source/sass/_layout-screen.scss */
  #comment-form .radio label,
  #comment-form .checkbox label {
    float: none;
  }

  /* line 107, ../source/sass/_layout-screen.scss */
  #comment-form .checkbox label,
  #comment-form .radio label {
    line-height: 1.5;
    width: auto;
  }

  /* line 111, ../source/sass/_layout-screen.scss */
  #comment-form .textarea label {
    line-height: 2.5;
  }

  /* line 114, ../source/sass/_layout-screen.scss */
  input, textarea {
    width: 27.5em;
    margin-right: -10px;
    padding: 7px;
  }

  /* line 119, ../source/sass/_layout-screen.scss */
  textarea {
    height: 200px;
  }

  /* line 122, ../source/sass/_layout-screen.scss */
  li.submit, li.checkbox {
    margin-left: 6.875em;
  }

  /* line 125, ../source/sass/_layout-screen.scss */
  li.submit {
    margin-top: 1.5em;
  }

  /* line 128, ../source/sass/_layout-screen.scss */
  .checkbox label {
    float: none;
    width: auto;
  }

  /* line 132, ../source/sass/_layout-screen.scss */
  .checkbox input {
    float: none;
    margin-right: 0;
    width: auto;
  }

  /* line 137, ../source/sass/_layout-screen.scss */
  .captcha {
    padding-top: 20px;
  }

  /* =Archives */
  /* line 143, ../source/sass/_layout-screen.scss */
  #archive #main {
    min-height: 900px;
    padding-bottom: 60px;
  }

  /* line 147, ../source/sass/_layout-screen.scss */
  #archive h1 {
    padding: 0 0.625em 0 0;
  }

  /* line 150, ../source/sass/_layout-screen.scss */
  #archive.search .focal > p {
    padding: 0 0.625em;
  }

  /* line 153, ../source/sass/_layout-screen.scss */
  #archive .hfeed {
    margin: 0 -1.625em;
  }

  /* line 156, ../source/sass/_layout-screen.scss */
  #archive .hentry .meta {
    padding-left: 1.875em;
  }

  /* line 159, ../source/sass/_layout-screen.scss */
  #archive .hentry .body {
    padding-right: 2.1875em;
  }

  /* =Home */
  /* line 165, ../source/sass/_layout-screen.scss */
  #home #main {
    width: 51.25em;
  }

  /* line 168, ../source/sass/_layout-screen.scss */
  #home .hfeed {
    border-spacing: 1.25em 0;
    margin: 0 -1.25em;
  }

  /* =Pagination */
  /* line 176, ../source/sass/_layout-screen.scss */
  ul#pagination,
  #single-entry #pagination {
    font-size: 1em;
    position: absolute;
    bottom: 20px;
    left: auto;
    right: auto;
    width: 36.25em;
  }

  /* line 184, ../source/sass/_layout-screen.scss */
  article ul#pagination {
    bottom: -50px;
  }

  /* line 187, ../source/sass/_layout-screen.scss */
  .search ul#pagination {
    bottom: 20px;
  }

  /* =Sidebars */
  /* line 193, ../source/sass/_layout-screen.scss */
  .sidebar, #single-entry .sidebar {
    position: absolute;
    left: 50%;
    width: auto;
  }

  /* line 198, ../source/sass/_layout-screen.scss */
  .sidebar .inner, #single-entry .sidebar .inner {
    left: 12.5em;
  }

  /* =Footer */
  /* line 204, ../source/sass/_layout-screen.scss */
  #extras {
    float: left;
    width: 100%;
    margin-top: -231px;
    padding-top: 231px;
    z-index: 0;
  }

  /* line 211, ../source/sass/_layout-screen.scss */
  aside.promo {
    float: left;
  }

  /* line 214, ../source/sass/_layout-screen.scss */
  aside.promo .inner {
    float: left;
    min-height: 100px;
    position: relative;
    left: 50%;
    margin-left: -26.875em;
    width: 53.75em;
  }

  /* line 222, ../source/sass/_layout-screen.scss */
  aside.promo h2 {
    margin-bottom: 3px;
  }

  /* line 225, ../source/sass/_layout-screen.scss */
  #about-us {
    width: 35.625em;
  }

  /* line 228, ../source/sass/_layout-screen.scss */
  #more {
    margin-left: 20px;
    padding-right: 20px;
    width: 15em;
  }

  /* line 234, ../source/sass/_layout-screen.scss */
  #about-us,
  #more {
    float: left;
    padding: 22px 0 22px;
  }

  /* line 239, ../source/sass/_layout-screen.scss */
  #about-us h2,
  #about-us p {
    padding-left: 100px;
  }

  /* line 242, ../source/sass/_layout-screen.scss */
  #elsewhere {
    display: block;
  }

  /* line 245, ../source/sass/_layout-screen.scss */
  #page-footer p {
    margin: 0 auto;
    padding: 10px 1.875em;
    width: 50em;
  }

  /* =Easy Network */
  /* line 253, ../source/sass/_layout-screen.scss */
  #easy-network {
    display: block;
    width: 53.75em;
    margin: 0 0 0 -26.875em;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
  }

  /* line 262, ../source/sass/_layout-screen.scss */
  #easy-network ul {
    font-size: 0.7em;
    margin: 0;
    padding: 0 2.5em;
    text-align: right;
  }

  /* line 268, ../source/sass/_layout-screen.scss */
  #easy-network li {
    display: inline;
  }

  /* line 271, ../source/sass/_layout-screen.scss */
  #easy-network a {
    background: center left no-repeat;
    line-height: 30px;
    padding: 0 1.5625em 0 2.125em;
  }

  /* line 276, ../source/sass/_layout-screen.scss */
  #easy-network .r4g a {
    padding-left: 1.3125em;
  }

  /* line 279, ../source/sass/_layout-screen.scss */
  #easy-network .easy-readers a {
    padding-right: 0;
  }
}
@media print {
  /* ---------------------------------
   * Print Layout Styles
   * Created by Easy! Designs, LLC
   * http://easy-designs.net
   * --------------------------------- */
  /* line 9, ../source/sass/_layout-print.scss */
  body {
    font-size: 120%;
  }

  /* line 10, ../source/sass/_layout-print.scss */
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }

  /* =Widows & Orphans */
  /* line 13, ../source/sass/_layout-print.scss */
  p {
    widows: 4;
    orphans: 4;
  }

  /* =Page Breaks */
  /* line 16, ../source/sass/_layout-print.scss */
  ul, ol, pre, div.gist, ol#comments li {
    page-break-inside: avoid;
  }

  /* line 17, ../source/sass/_layout-print.scss */
  ol#comments {
    page-break-inside: inherit;
  }

  /* =Hidden */
  /* line 20, ../source/sass/_layout-print.scss */
  .sidebar, #search-form, #comment-form, #extras, #pagination {
    display: none;
  }
}
/* =Elements */
/* line 30, ../source/sass/_color.scss */
body {
  background-color: white;
  color: #414141;
}

/* line 34, ../source/sass/_color.scss */
a:link, a:visited, a:active {
  color: #167f35;
}

/* line 38, ../source/sass/_color.scss */
a:hover,
#more a:hover {
  color: #f2622a;
}

/* line 41, ../source/sass/_color.scss */
blockquote {
  border-color: #b4f6f8;
}

/* line 44, ../source/sass/_color.scss */
input, select, textarea {
  border-color: #b4b4b4;
}

/* line 52, ../source/sass/_color.scss */
input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
  border-color: #414141;
}

/* line 55, ../source/sass/_color.scss */
button {
  background-color: #54ad44;
  border-color: #117e3f;
  color: white;
}

/* line 60, ../source/sass/_color.scss */
button:hover {
  background-color: #f2622a;
  border-color: #de4e16;
  color: white;
}

/* line 65, ../source/sass/_color.scss */
code {
  color: #de4e16;
}

/* line 68, ../source/sass/_color.scss */
pre.shell {
  background-color: #1e1e1e;
  color: #c8c8c8;
}

/* =Classes */
/* line 74, ../source/sass/_color.scss */
.notice {
  background-color: #54ad44;
  border-color: #117e3f;
  color: white;
}

/* line 79, ../source/sass/_color.scss */
.notice.failure {
  background-color: #d72229;
  border-color: #ba2025;
  color: white;
}

/* line 84, ../source/sass/_color.scss */
.error label {
  color: #ba2025;
}

/* line 89, ../source/sass/_color.scss */
.error input,
.error select,
.error textarea {
  border-color: #ba2025;
  color: #ba2025;
}

/* =Layout */
/* line 95, ../source/sass/_color.scss */
#page-header {
  border-top-color: #68cd5b;
  border-bottom-color: #b4f6f8;
}

/* line 100, ../source/sass/_color.scss */
#search-form input,
#search-form label {
  color: #414141;
}

/* line 103, ../source/sass/_color.scss */
#page-header, #main, #elsewhere {
  background-color: #e0fbfd;
  background-color: rgba(180, 246, 248, 0.43);
}

/* line 107, ../source/sass/_color.scss */
#logo {
  background-color: #ccf9fb;
  background-color: rgba(180, 246, 248, 0.43);
}

/* line 111, ../source/sass/_color.scss */
.promo, #page-footer, #search-form {
  background-color: #68cd5b;
}

/* line 114, ../source/sass/_color.scss */
.inner {
  background-color: #ccf9fb;
  background-color: rgba(180, 246, 248, 0.43);
}

/* line 118, ../source/sass/_color.scss */
.sidebar .inner {
  background: transparent;
}

/* line 121, ../source/sass/_color.scss */
#page-footer p, #search-form p {
  background-color: #89e0a0;
  background-color: rgba(180, 246, 248, 0.43);
}

/* =Figures */
/* line 135, ../source/sass/_color.scss */
article.focal figure,
article.focal figure img,
article.focal figure video,
article.focal figure audio,
article.focal figure object,
article.focal figure embed,
article.focal figure canvas,
article.focal figure iframe,
article.focal figure figcaption {
  background: white;
  border-color: white;
}

/* line 140, ../source/sass/_color.scss */
article.focal figure:after,
article.focal figure:before {
  background: transparent;
}

/* =Sidebars */
/* line 146, ../source/sass/_color.scss */
.sidebar h2, .sidebar h3 {
  color: #414141;
}

/* =Archives */
/* line 153, ../source/sass/_color.scss */
#archive .hentry .body,
#archive .hentry .meta {
  background-color: #f2fdfe;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 158, ../source/sass/_color.scss */
#archive .hentry:hover .body,
#archive .hentry:hover .meta {
  background-color: white;
}

/* line 161, ../source/sass/_color.scss */
#archive .hentry h2 {
  color: #117e3f;
}

/* =Comments */
/* line 167, ../source/sass/_color.scss */
#comments {
  background-color: #f2fdfe;
  background-color: rgba(180, 246, 248, 0.43);
}

/* line 171, ../source/sass/_color.scss */
#comments .meta {
  background: transparent url(http://cdn3.easy-designs.net/css/bubble-bottom.png) 0 -5px no-repeat;
}

/* =Home */
/* line 177, ../source/sass/_color.scss */
#teasers h3 a {
  text-shadow: #117e3f 0 0 8px;
  color: white;
}

/* line 181, ../source/sass/_color.scss */
#teasers h3:hover a {
  text-shadow: #f2622a 0 0 8px;
}

/* line 184, ../source/sass/_color.scss */
#home .hentry h2 {
  color: #117e3f;
}

/* line 187, ../source/sass/_color.scss */
#teasers .hentry {
  background-color: #f2fdfe;
  background-color: rgba(255, 255, 255, 0.6);
}

/* line 191, ../source/sass/_color.scss */
#teasers .hentry:hover {
  background-color: white;
}

/* line 194, ../source/sass/_color.scss */
#teasers .hentry h2:hover {
  color: #f2622a;
}

/* =Search */
/* line 200, ../source/sass/_color.scss */
#search-results .term {
  background-color: #fbe02c;
}

/* =Footer Content */
/* line 206, ../source/sass/_color.scss */
#more li {
  background: url(http://cdn3.easy-designs.net/css/all-entries.png) no-repeat 0 50%;
}

/* line 209, ../source/sass/_color.scss */
#more li:first-child {
  background: url(http://cdn3.easy-designs.net/general/rss-icon.png) no-repeat 0 50%;
}

/* line 212, ../source/sass/_color.scss */
#more a {
  color: #414141;
}

/* line 215, ../source/sass/_color.scss */
#elsewhere h2 {
  color: #414141;
}

/* =Pagination */
/* line 221, ../source/sass/_color.scss */
#pagination a {
  color: #414141;
}

/* =RGBa Enhancements */
/* line 227, ../source/sass/_color.scss */
#social-links li {
  background: transparent;
}
/* line 230, ../source/sass/_color.scss */
#social-links li.twitter a {
  background-image: url(http://cdn3.easy-designs.net/css/twitter.png);
}
/* line 232, ../source/sass/_color.scss */
.has-svg #social-links li.twitter a {
  background-image: url(http://cdn3.easy-designs.net/css/twitter.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 230, ../source/sass/_color.scss */
#social-links li.facebook a {
  background-image: url(http://cdn3.easy-designs.net/css/facebook.png);
}
/* line 232, ../source/sass/_color.scss */
.has-svg #social-links li.facebook a {
  background-image: url(http://cdn3.easy-designs.net/css/facebook.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 230, ../source/sass/_color.scss */
#social-links li.google a {
  background-image: url(http://cdn3.easy-designs.net/css/google.png);
}
/* line 232, ../source/sass/_color.scss */
.has-svg #social-links li.google a {
  background-image: url(http://cdn3.easy-designs.net/css/google.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
/* line 230, ../source/sass/_color.scss */
#social-links li.github a {
  background-image: url(http://cdn3.easy-designs.net/css/github.png);
}
/* line 232, ../source/sass/_color.scss */
.has-svg #social-links li.github a {
  background-image: url(http://cdn3.easy-designs.net/css/github.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* line 241, ../source/sass/_color.scss */
#easy-network a {
  color: inherit;
  opacity: 0.5;
}

/* line 246, ../source/sass/_color.scss */
#easy-network a:hover,
#easy-network a:focus {
  opacity: 0.99;
}

/*#easy-network .easy-designs a {
    background-image: url(http://cdn3.easy-designs.net/css/en-easy-designs.png);
}
#easy-network .easy-readers a {
    background-image: url(http://cdn3.easy-designs.net/css/en-easy-readers.png);
}
#easy-network .r4g a {
    background-image: url(http://cdn3.easy-designs.net/css/en-r4g.png);
}*/
/* line 258, ../source/sass/_color.scss */
[data-icon]:before {
  font-family: 'Easy-Designs';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 3px;
  -webkit-font-smoothing: antialiased;
}

/* line 269, ../source/sass/_color.scss */
#easy-network a:hover {
  text-decoration: none;
}

/* line 272, ../source/sass/_color.scss */
#easy-network a:hover [data-icon] + span {
  text-decoration: underline;
}

@media screen and (min-width: 570px) {
  /* line 277, ../source/sass/_color.scss */
  #search-form,
  #search-form p {
    background: transparent;
  }

  /* line 280, ../source/sass/_color.scss */
  .sidebar .inner {
    background-color: #ccf9fb;
    background-color: rgba(180, 246, 248, 0.43);
  }
}
@media screen and (min-width: 860px) {
  /* line 288, ../source/sass/_color.scss */
  body {
    background: white url(http://cdn3.easy-designs.net/css/star.png) center 0 no-repeat;
  }

  /* line 300, ../source/sass/_color.scss */
  #extras {
    background: rgba(255, 255, 255, 0) url(http://cdn3.easy-designs.net/css/star-2.png) center top no-repeat;
  }

  /* line 303, ../source/sass/_color.scss */
  #about {
    background: #68cd5b url(http://cdn3.easy-designs.net/css/star-2.png) center -231px no-repeat;
  }

  /* line 306, ../source/sass/_color.scss */
  #about-us {
    background: url(http://cdn3.easy-designs.net/css/orange-stars.png) no-repeat 31px 19px;
  }
}
/* line 6, ../source/sass/_effects.scss */
a,
a:hover,
article,
#archive .hentry .body,
#archive .hentry .meta,
.frame b {
  -khtml-transition-property: color, background-color;
  -khtml-transition-duration: .4s;
  -moz-transition-property: color, background-color;
  -moz-transition-duration: .4s;
  -ms-transition-property: color, background-color;
  -ms-transition-duration: .4s;
  -o-transition-property: color, background-color;
  -o-transition-duration: .4s;
  -webkit-transition-property: color, background-color;
  -webkit-transition-duration: .4s;
  transition-property: color, background-color;
  transition-duration: .4s;
}
