$cdn:"http://cdn3.easy-designs.net";
$easy_css_images:"http://cdn1.easy-designs.net";

$browser-default-font-size: 16px;

//	Functions
// 	==========================================================================
@function px-to-ems( $pixels, $context: $browser-default-font-size ) {
  @return #{$pixels/$context}em;
}