<aside id="about" class="promo"><div class="inner">
	<article id="about-us">
		<h2>Who are these people?</h2>
		<p>We are the people that power <a rel="me" href="http://easy-designs.net">Easy Designs</a>, a content-focused web development consultancy. We live to improve the usability, accessibility, “findability,” and interoperability of the web through the use of web standards, progressive enhancement, and other best practices. This is our blog.</p>
	</article>
	
	<article id="more">
		<h2>Like what you are reading?</h2>
		<ul>
			<li><a href="/rss/all-posts/">Subscribe</a></li>
			<li><a href="/archives/">View all Entries</a></li>
		</ul>
		<h2>Read our minds, fork our code</h2>
		<ul id="social-links">
			<li class="twitter"><a href="http://twitter.com/EasyDesigns">Follow us on Twitter</a></li>
			<li class="facebook"><a href="https://www.facebook.com/EasyDesignsLLC">Like us on Facebook</a></li>
			<li class="google"><a href="https://plus.google.com/u/0/108855855192834389606/posts">Follow us on Google+</a></li>
			<li class="github"><a href="https://github.com/easy-designs">Fork us on Github</a></li>
		</ul>
	</article>
</div></aside>