{exp:nsm_transplant:body}

	{exp:channel:entries channel="blog" url_title="{embed:url_title}" cache="yes" refresh="360"}

		{exp:nsm_transplant:content id="the_permalink"}{site_url}archives/{entry_date format='%Y/%m/%d'}/{url_title}/{/exp:nsm_transplant:content}

		{exp:nsm_transplant:content id="comment_form"}
		    {if allow_comments}
		<section id="comment-form" class="focal">
			<h2>Post a Comment</h2>
			{embed="inc/.comment-form" entry_id="{entry_id}" return="{site_url}archives/{entry_date format='%Y/%m/%d'}/{url_title}/#comments"}
		</section>
			{/if}
		{/exp:nsm_transplant:content}
		{!-- end variables for insertion elsewhere --}

	{/exp:channel:entries}

	{exp:easy_jail:prep blank_img="/img/white.gif"}
		{exp:comment:entries sort="asc" url_title="{embed:url_title}"}
	   		{if no_results}
		        <h2>Comments</h2>
    			<p id="no-comments">No comments have been left on this entry.</p>
	   		{/if}
			{if count=="1"}
        		<h2>Comments</h2>
    	        <ol class="hfeed">
			{/if}
					<li class="hentry" id="comment-{comment_id}">
						<article class="entry-content">
							{exp:typogrify}{comment}{/exp:typogrify}
						</article>
						<ul class="meta">
							<li class="author vcard">
			{if '{url}'!=''}
								<a class="url" href="{url}">
			{/if}
									<img src="/img/css/frame-comment-avatar.png" style="background-image:url({exp:gravatar email='{email}' size='32' default='{site_url}img/gravitar.png'});" alt=""/>
									<span class="fn">{name}</span>
			{if '{url}'!=''}
	  						</a>
			{/if}
							</li>
							<li><time class="published" datetime="{comment_date format='%Y-%m-%dT%H:%i:%s'}" pubdate="pudate">{comment_date format="%d %F %Y at %g%a"}</time> | <a rel="bookmark" title="Permalink to this comment" href="{the_permalink}#comment-{comment_id}">#</a></li>
						</ul>
					</li>
			{if count==total_results}
				</ol>
			{/if}
		{/exp:comment:entries}
	{/exp:easy_jail:prep}
	{exp:easy_relocate:capture key="scripts"}
		{exp:easy_jail:js config="{offset:300}"}
	{/exp:easy_relocate:capture}
	
	{comment_form}{!-- comes from NSM Transplant (above) --}
	
{/exp:nsm_transplant:body}