		<section id="extras">

			{embed="inc/.about"}
			
			<aside id="elsewhere" class="promo" data-append="/inc/elsewhere" data-include-size="large"></aside>	

		</section>{!-- #extras --}
	</section>{!-- #content --}

	{embed="search/.form"}

	<footer role="contentinfo" id="page-footer" class="source-org vcard copyright">
		<p style="overflow:hidden;"><span id="copyright">&#169; Copyright 2005<?php if(date('Y') !== '2005') { echo "&ndash;" . date('Y'); } ?> 
			<a class="org fn url" href="http://easy-designs.net">Easy Designs LLC</a>. All rights reserved unless otherwise indicated.</span>
	  		<!--a href="http://easy-designs.net/about/standards/">Got Standards?</a-->
		</p>
	</footer>
  
	<nav id="easy-network">
		<ul>
			<li class="easy-designs"><a href="http://easy-designs.net/">
				<span aria-hidden="true" data-icon="&#xe602;"></span><span>Easy Designs</span></a></li>
			<li class="r4g"><a href="http://retreats4geeks.com/">
				<span aria-hidden="true" data-icon="&#xe601;"></span><span>Retreats 4 Geeks</span></a></li>
	    	<li class="easy-readers"><a href="http://easy-readers.net/">
	    		<span aria-hidden="true" data-icon="&#xe603;"></span><span>Easy Readers</span></a></li>
	    	<li class="cha-device-lab"><a href="http://chadevicelab.org">
	    		<span aria-hidden="true" data-icon="&#xe604;"></span><span>CHA Device Lab</span></a></li>

	    	<li class="code-and-creativity"><a href="http://codeandcreativity.com">
	    		<span aria-hidden="true" data-icon="&#xe600;"></span><span>Code &amp; Creativity</span></a></li>
	    </ul>
	</nav>
  
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{cdn}/js/jquery.js{cache_buster}"><\/script>')</script>
	<script src="{cdn}/js/main.js{cache_buster}"></script>
	{exp:easy_relocate:insert key="scripts"}
	
	<noscript>
		{!--exp:easy_google_analytics:tracker account="UA-176472-10"--}
		<img src="http://nojsstats.appspot.com/UA-176472-10/blog.easy-designs.net<?php
			echo isset( $_SERVER['HTTP_REFERER'] ) ? "?r={$_SERVER['HTTP_REFERER']}" : ''; ?>" alt=""/>
	</noscript>
</body>
</html>