{preload_replace:default_description="We are the people that power Easy Designs, a content-focused web development consultancy. We live to improve the usability, accessibility, findability, and interoperability of the web through the use of web standards, progressive enhancement, and other best practices. This is our blog."}

<!DOCTYPE html>
<html lang="{lang}" id="easy-reader_net" itemscope itemtype="http://schema.org/Blog" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>

	<meta charset="{charset}"/>
	<meta http-equiv="Content-Language" content="{lang}"/>
	{embed:meta}
	{exp:nsm_better_meta:template}
	
	<meta property="og:site_name" content="The Easy Designs Blog" />
	<meta property="og:image" content="{cdn}/img/facebook-icon.png?v=20111226" />
	<meta property="og:locale" content="en_US" />
	<meta property="fb:admins" content="aaronmgustafson" />
    <meta name="twitter:card" value="summary"/>
    <meta name="twitter:site" value="@EasyDesigns"/>
    <meta name="twitter:domain" content="Easy Design’s Blog">
{if "{embed:post}"=="Y"}
    {!-- Twitter Card --}
    {exp:channel:entries site="easy-designs" channel="staff" username="{embed:username}"
                        limit="1" status="open|closed" dynamic="no" rdf="off"
                        disable="categories|category_fields|member_data|pagination|trackbacks"}
    <meta name="twitter:creator" value="@{staff_twitter}">
    {/exp:channel:entries}
    {!-- Open Graph --}
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{embed:title}" />
	<meta property="description" content="{embed:description}" />
	<meta property="og:description" itemprop="description" content="{embed:description}" />
	<meta property="og:url" content="{embed:canonical_url}" />
{if:else}
    {!-- Twitter Card --}
    <meta name="twitter:creator" value="@EasyDesigns"/>
	{!-- Open Graph --}
    <meta property="og:type" content="blog" />
	<meta property="og:title" content="The Easy Designs Blog" />
	<meta property="description" content="{default_description}" />
	<meta property="og:description" itemprop="description" content="{default_description}" />
	<meta property="og:url" content="{site_url}" />
{/if}
	<meta name="medium" content="blog" />
	
	<meta name="MSSmartTagsPreventParsing" content="true"/>
	<meta name="Copyright" content="(c) Copyright {copyright_year}. All rights reserved unless otherwise indicated."/>
	<meta http-equiv="imagetoolbar" content="no"/>
	<meta name="Rating" content="General"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
	<meta name="viewport" content="width=device-width"/>
	
	<link rel="home" href="/"/>
	<link rel="copyright" href="#copyright"/>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
	<!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if (gt IE 8)|(IE 6)|(IEMobile)]><!-->
		<link rel="stylesheet" href="{cdn}/css/main.css">
	<!--<![endif]-->
	<!--[if (lte IE 8)&(gte IE 7)&(!IEMobile)]><link rel="stylesheet" href="<{cdn}/css/main-old-ie.css"><![endif]-->
	
	<!--[if IE 8]><link rel="stylesheet" type="text/css" media="all" href="{cdn}/css/ie8.css"/><![endif]-->
	<!--[if IEMobile 7]><link rel="stylesheet" type="text/css" media="all" href="{cdn}/css/ie7-mobile.css"/><![endif]-->
	<!--[if (lte IE 7)&!(IEMobile)]><link rel="stylesheet" type="text/css" media="all" href="{cdn}/css/ie7.css"/><![endif]-->
	<!--[if (lte IE 6)&!(IEMobile)]><link rel="stylesheet" type="text/css" media="all" href="{cdn}/css/ie6.css"/><![endif]-->  
	
	{embed="rss/.html" title="{embed:title}"}

</head>